<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="pos_Steward.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de sucesos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <pos_Steward.My.MySettings>
            <setting name="pos_Steward_apws0008_Pws0008" serializeAs="String">
                <value>http://192.168.1.230:8090/lisainterfazsqln/servlet/apws0008</value>
            </setting>
            <setting name="pos_Steward_apws0045_Pws0045" serializeAs="String">
                <value>http://192.168.1.230:8090/lisainterfazsqln/servlet/apws0045</value>
            </setting>
            <setting name="pos_Steward_apws0007_Pws0007" serializeAs="String">
                <value>http://192.168.1.230:8090/lisainterfazsqln/servlet/apws0007</value>
            </setting>
            <setting name="pos_Steward_apws0032_Pws0032" serializeAs="String">
                <value>http://192.168.1.230:8090/lisainterfazsqln/servlet/apws0032</value>
            </setting>
            <setting name="pos_Steward_apws0029_Pws0029" serializeAs="String">
                <value>http://192.168.1.230:8090/lisainterfazsqln/servlet/apws0029</value>
            </setting>
            <setting name="pos_Steward_apws0006_Pws0006" serializeAs="String">
                <value>http://192.168.1.230:8090/lisainterfazsqln/servlet/apws0006</value>
            </setting>
            <setting name="pos_Steward_apws0039_Pws0039" serializeAs="String">
                <value>http://192.168.1.230:8090/lisainterfazsqln/servlet/apws0039</value>
            </setting>
            <setting name="pos_Steward_apws0042_Pws0042" serializeAs="String">
                <value>http://192.168.1.230:8090/lisainterfazsqln/servlet/apws0042</value>
            </setting>
            <setting name="pos_Steward_apws0047_Pws0047" serializeAs="String">
                <value>http://192.168.1.230:8090/lisainterfazsqln/servlet/apws0047</value>
            </setting>
            <setting name="pos_Steward_apws0031_Pws0031" serializeAs="String">
                <value>http://192.168.1.230:8090/lisainterfazsqln/servlet/apws0031</value>
            </setting>
            <setting name="pos_Steward_apws0028_Pws0028" serializeAs="String">
                <value>http://192.168.1.230:8090/lisainterfazsqln/servlet/apws0028</value>
            </setting>
            <setting name="pos_Steward_apws0033_Pws0033" serializeAs="String">
                <value>http://192.168.1.230:8090/lisainterfazsqln/servlet/apws0033</value>
            </setting>
            <setting name="pos_Steward_apws0044_Pws0044" serializeAs="String">
                <value>http://192.168.1.230:8090/lisainterfazsqln/servlet/apws0044</value>
            </setting>
            <setting name="pos_Steward_apws0043_Pws0043" serializeAs="String">
                <value>http://192.168.1.230:8090/lisainterfazsqln/servlet/apws0043</value>
            </setting>
            <setting name="pos_Steward_apws0046_Pws0046" serializeAs="String">
                <value>http://192.168.1.230:8090/lisainterfazsqln/servlet/apws0046</value>
            </setting>
            <setting name="pos_Steward_apws0049_Pws0049" serializeAs="String">
                <value>http://192.168.1.230:8090/lisainterfazsqln/servlet/apws0049</value>
            </setting>
            <setting name="pos_Steward_apws0030_Pws0030" serializeAs="String">
                <value>http://192.168.1.230:8090/lisainterfazsqln/servlet/apws0030</value>
            </setting>
            <setting name="pos_Steward_apws0034_Pws0034" serializeAs="String">
                <value>http://192.168.1.230:8090/lisainterfazsqln/servlet/apws0034</value>
            </setting>
            <setting name="pos_Steward_Pws0014_Pws0014" serializeAs="String">
                <value>http://192.168.1.230:8090/lisainterfazsqln/servlet/apws0014</value>
            </setting>
            <setting name="pos_Steward_apws0041_Pws0041" serializeAs="String">
                <value>http://192.168.1.230:8090/lisainterfazsqln/servlet/apws0041</value>
            </setting>
            <setting name="pos_Steward_apws0051_Pws0051" serializeAs="String">
                <value>http://192.168.1.230:8090/lisainterfazsqln/servlet/apws0051</value>
            </setting>
            <setting name="pos_Steward_Ws_Alumnos_Service1" serializeAs="String">
                <value>http://www.steward.cl/ws_web/Service1.asmx</value>
            </setting>
            <setting name="Pos2__apws0006_Pws0006" serializeAs="String">
                <value>http://192.168.1.253:8091/lisainterfazsql2/servlet/apws0006</value>
            </setting>
            <setting name="Pos2__apws0007_Pws0007" serializeAs="String">
                <value>http://192.168.1.253:8091/lisainterfazsql2/servlet/apws0007</value>
            </setting>
            <setting name="Pos2__apws0008_Pws0008" serializeAs="String">
                <value>http://192.168.1.253:8091/lisainterfazsql2/servlet/apws0008</value>
            </setting>
            <setting name="Pos2__apws0028_Pws0028" serializeAs="String">
                <value>http://192.168.1.253:8091/lisainterfazsql2/servlet/apws0028</value>
            </setting>
            <setting name="Pos2__apws0029_Pws0029" serializeAs="String">
                <value>http://192.168.1.253:8091/lisainterfazsql2/servlet/apws0029</value>
            </setting>
            <setting name="Pos2__apws0030_Pws0030" serializeAs="String">
                <value>http://192.168.1.253:8091/lisainterfazsql2/servlet/apws0030</value>
            </setting>
            <setting name="Pos2__apws0032_Pws0032" serializeAs="String">
                <value>http://localhost:8080/lisainterfazsql2/servlet/apws0032</value>
            </setting>
            <setting name="Pos2__apws0031_Pws0031" serializeAs="String">
                <value>http://192.168.1.253:8091/lisainterfazsql2/servlet/apws0031</value>
            </setting>
            <setting name="Pos2___apws0033_Pws0033" serializeAs="String">
                <value>http://192.168.1.253:8091/lisainterfazsql2/servlet/apws0033</value>
            </setting>
            <setting name="Pos2__apws0034_Pws0034" serializeAs="String">
                <value>http://192.168.1.253:8091/lisainterfazsql2/servlet/apws0034</value>
            </setting>
            <setting name="Pos2___apws0039_Pws0039" serializeAs="String">
                <value>http://192.168.1.253:8091/lisainterfazsql2/servlet/apws0039</value>
            </setting>
            <setting name="Pos2__apws0041_Pws0041" serializeAs="String">
                <value>http://192.168.1.253:8091/lisainterfazsql2/servlet/apws0041</value>
            </setting>
            <setting name="Pos2__apws0042_Pws0042" serializeAs="String">
                <value>http://192.168.1.253:8091/lisainterfazsql2/servlet/apws0042</value>
            </setting>
            <setting name="Pos2__apws0043_Pws0043" serializeAs="String">
                <value>http://192.168.1.253:8091/lisainterfazsql2/servlet/apws0043</value>
            </setting>
            <setting name="Pos2__apws0044_Pws0044" serializeAs="String">
                <value>http://192.168.1.253:8091/lisainterfazsql2/servlet/apws0044</value>
            </setting>
            <setting name="Pos2__apws0045_Pws0045" serializeAs="String">
                <value>http://192.168.1.253:8091/lisainterfazsql2/servlet/apws0045</value>
            </setting>
            <setting name="Pos2__apws0046_Pws0046" serializeAs="String">
                <value>http://192.168.1.253:8091/lisainterfazsql2/servlet/apws0046</value>
            </setting>
            <setting name="Pos2__apws0047_Pws0047" serializeAs="String">
                <value>http://192.168.1.253:8091/lisainterfazsql2/servlet/apws0047</value>
            </setting>
            <setting name="Pos2_apws00481_Pws0048" serializeAs="String">
                <value>http://192.168.1.253:8091/lisainterfazsql2/servlet/apws0048</value>
            </setting>
            <setting name="Pos2__apws0049_Pws0049" serializeAs="String">
                <value>http://localhost:8080/lisainterfazsql2/servlet/apws0049</value>
            </setting>
            <setting name="Pos2_apws00511_Pws0051" serializeAs="String">
                <value>http://192.168.1.253:8091/lisainterfazsql2/servlet/apws0051</value>
            </setting>
            <setting name="Pos2_apws00141_Pws0014" serializeAs="String">
                <value>http://192.168.1.253:8091/lisainterfazsql2/servlet/apws0014</value>
            </setting>
            <setting name="Pos2__WS_LISA_WS_Lisa" serializeAs="String">
                <value>http://localhost/wslisa2/WSLISAERP.asmx</value>
            </setting>
            <setting name="Pos2_ws_lisa_WS_Lisa" serializeAs="String">
                <value>http://192.168.1.230/wslisa/WSLISAERP.asmx</value>
            </setting>
            <setting name="Pos2_ws_pos_POS" serializeAs="String">
                <value>http://192.168.1.230/wspos/pos.asmx</value>
            </setting>
        </pos_Steward.My.MySettings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
